<h1>Mi Perfil</h1>
<h2>Bienvenido, {{user.usuario}}</h2>
<h3>Email: {{user.email}}</h3>
<h3>Rol: {{user.role}}</h3>

<a href="/products">Ver productos</a>
<a href="/cart">Ver carrito</a>

<form action="/api/sessions/logout" method="POST">
    <button type="submit"> Logout </button>
</form>