<h2>Productos en Tiempo Real</h2>
<div id="contenedorProductos"></div>

<form id="nuevoProductoForm">
    <input type="text" name="titulo" placeholder="Título">
    <input type="text" name="descripcion" placeholder="Descripción">
    <input type="number" name="precio" placeholder="Precio">
    <input type="text" name="codigo" placeholder="Código">
    <input type="number" name="stock" placeholder="Stock">
    <button type="submit">Agregar Producto</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>

